* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background: linear-gradient(90deg,
      rgb(57, 190, 239) 0%,
      rgb(50, 131, 189) 100%);
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 44%;
  min-height: 560px;
  margin: 50px auto;
  border-radius: 12px;
  padding-bottom: 30px;
  background: whitesmoke;
  text-align: center;
}

h2 {
  margin: 25px 0;
  font-size: 30px;
  color: rgb(3, 87, 117);
}

.todo-form {
  margin-bottom: 32px;
}

.input {
  width: 324px;
  border-radius: 4px 4px 4px 4px;
  padding: 14px 32px 14px 16px;
  border: 2px solid rgb(128, 128, 128);
  outline: none;
  font-size: 15px;
}

.btn {
  padding: 16px;
  margin-left: 3px;
  border: none;
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
  outline: none;
  color: whitesmoke;
  text-transform: none;
  background: linear-gradient(90deg,
      rgb(57, 190, 239) 0%,
      rgb(50, 131, 189) 100%);
}

.btn:hover {
  transform: translateY(2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn::after {
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.todo-row {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  padding: 16px;
  border-radius: 5px;
  color: whitesmoke;
  background: linear-gradient(90deg,
      rgb(57, 190, 239) 0%,
      rgb(50, 131, 189) 100%);
}

.iconContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
}

.icon {
  color: rgb(7, 62, 146);
}

.divider {
  width: 80%;
  height: 2px;
  background-color: black;
  align-self: center;
}