* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background: linear-gradient(90deg,
      rgb(129, 47, 104) 0%,
      rgba(100, 115, 255, 1) 100%);
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 44%;
  min-height: 560px;
  margin: 128px auto;
  border-radius: 12px;
  padding-bottom: 30px;
  background: whitesmoke;
  text-align: center;
}

h2 {
  margin: 25px 0;
  font-size: 30px;
}

.todo-form {
  margin-bottom: 32px;
}

.input {
  width: 324px;
  border-radius: 4px 4px 4px 4px;
  padding: 14px 32px 14px 16px;
  border: 2px solid rgb(128, 128, 128);
  outline: none;
}